[build]
  command = "git config --global url.\"https://github.com/\".insteadOf ssh://git@github.com/ && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
